.ui.card>.image, .ui.cards>.card>.image {
    max-height: 200px;
    min-height: 200px;
}
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
    font-weight: 600;
    font-size: 1.1em;
}

.ui.card {
    margin: 1em 0;
    max-height: 340px;
    min-height: 340px;
    box-shadow: -1px 1px 10px 3px grey;
    margin-bottom:10px;
}

.ui.card:last-child {
    margin-bottom: 20px;
}

.ui.pagination.menu {
    float: right;
}

.prod-title{
    color: gray !important;
    font-size: 16px;
    margin-top:40px !important;
}
.article-tile{
    border-bottom:1px solid gray;
    padding:5px 20px;

}

.article-tile a{
    color:#0070d2;
}
.article-tile p{
    color: #00396b !important;
    padding: 5px 0px;
    margin-bottom: 0px;
}

.article-body{
    padding: 10px 0px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.articles-wrapper{
    background: #F7F7F7;
    margin: 100px 0px;
    
    } 