.about-wrapper{
    background-color: #EBEFF2;
    .banner-wrapper{
        img{
            width:100%;
        }
    }

    .content-wrapper{
        padding:60px;
        .pad-left-40{
            padding-left: 40px;
        }
    }
    .video-wrapper{
        padding: 20px 60px;
        video{
            width: 100%;
        }
        
    }

    .cards-wrapper{
        padding: 20px 46px;
        h2{
            padding:20px;
        }
        .no-mar{
            margin-left: 0px;
            margin-right: 0px;
            padding: 0px 20px;
        }
    }
    .white-background{
        background-color: #FFF;
        box-shadow: -1px 1px 10px 3px grey;
        border-radius: 5px;
    }


}